<!-- ko if: entityCreateView() -->
	<div class="panel_top">
		<h2 class="settings_heading" data-bind="i18n: {'key': 'CORECLIENT/HEADING_COMMON_SETTINGS'}"></h2>
	</div>
	<div class="panel_center">
		<div class="fields">

			<div class="fieldset">
				<!-- ko template: {name: entityCreateView().ViewTemplate, data: entityCreateView()} --><!-- /ko -->
				<div class="row">
					<span class="link" data-bind="i18n: {'key': '%MODULENAME%/ACTION_DELETE_' + type().toUpperCase()}, click: function () { $root.deleteCurrentEntity(); }"></span>
				</div>
			</div>

			<div class="buttons">
				<span class="button" data-bind="click: function () { save($root); }">
					<span data-bind="i18n: {'key': 'CORECLIENT/ACTION_SAVE'}, visible: !isSaving()"></span>
					<span data-bind="i18n: {'key': 'CORECLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
				</span>
			</div>
		</div>
	</div>
<!-- /ko -->
