<div class="row">
	<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_EMAIL'}"></span>
	<span class="value">
		<input class="input" type="text" data-bind="value: publicId, valueUpdate: 'afterkeydown', 
			onEnter: function () { if ($parents[1] && $parents[1].createEntity) { $parents[1].createEntity(); } else if ($parents[0] && $parents[0].save) { $parents[0].save($root); } }" />
	</span>
</div>
<div class="row" style="display: none;">
	<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ROLE'}"></span>
	<span class="value">
		<select class="input start" data-bind="value: role, options: aRoles, optionsText: 'text', optionsValue: 'value'"></select>
	</span>
</div>
{%INCLUDE-START/Edit-User-After/INCLUDE-END%}
