<div class="panel_top">
	<h2 class="settings_heading"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="value" style="float: left;">
					<label class="custom_checkbox" data-bind="css: {'checked': enableLogging}">
						<span class="icon"></span>
						<input type="checkbox" id="enableLogging" data-bind="checked: enableLogging" />
					</label>
					<label for="enableLogging" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_ENABLE'}"></label>
				</span>
				<span class="value" style="float: right;">
					<select class="input" data-bind="value: loggingLevel">
						<option value="Full" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_DEBUG'}"></option>
						<option value="Warning" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_WARNINGS'}"></option>
						<option value="Error" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_ERRORS'}"></option>
						<option value="Spec" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_SPEC_USER'}"></option>
					</select>
				</span>
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_VERBOSITY'}" style="float: right; text-align: right;"></span>
			</div>
			<div class="row buttons" style="margin-bottom: 6px;">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_DOWNLOAD'}" style="float: left;"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_CLEAR'}" style="float: right;"></span>
			</div>
			<div class="row buttons" style="margin-bottom: 26px;">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_VIEW'}" style="float: left;"></span>
			</div>
			<div class="row">
				<span class="value">
					<label class="custom_checkbox" data-bind="css: {'checked': enableEventLogging}">
						<span class="icon"></span>
						<input type="enableEventLogging" id="showWorkday" data-bind="checked: enableEventLogging" />
					</label>
					<label for="enableEventLogging" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGGING_ENABLE_EVENTS'}"></label>
				</span>
			</div>
			<div class="row buttons" style="margin-bottom: 6px;">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_DOWNLOAD_EVENTS'}" style="float: left;"></span>
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_CLEAR'}" style="float: right;"></span>
			</div>
			<div class="row buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/BUTTON_LOGGING_VIEW'}" style="float: left;"></span>
			</div>
		</div>		

		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
