<div class="screen AdminPanelLayout" style="display: none;">
	<div class="tabs_panel">
		<span class="item logout" data-bind="click: logout">
			<span class="link" data-bind="i18n: {'key': 'CORECLIENT/ACTION_LOGOUT'}"></span>
		</span>
		
		<!-- ko foreach: aScreens -->
		<span class="item admin" data-bind="css: {'current': sType === $parent.currentEntityType()}">
			<a class="link" href="#" data-bind="attr: {'href': sHash}">
				<span class="text" data-bind="text: sLinkText"></span>
			</a>
		</span>
		<!-- /ko -->
	</div>
	
	<div class="panels settings">
		<!-- ko foreach: aScreens -->
			<!-- ko if: sType === $parent.currentEntityType() && oView -->
				<!-- ko template: {name: oView.ViewTemplate, data: oView} --><!-- /ko -->
			<!-- /ko -->
		<!-- /ko -->
		
		<div class="panel left_panel navigation_panel" data-bind="adjustHeightToContent: {}, visible: showModulesTabs">
			<div class="panel_content">
				<div class="buttons big_single_button" data-bind="visible: currentEntityType() !== ''">
					<span href="javascript: void(0)" class="button" data-bind="click: deleteCurrentEntity">
						<span data-bind="i18n: {'key': 'CORECLIENT/ACTION_DELETE'}"></span>
					</span>
				</div>
				<div class="middle_bar">
					<div class="panel_center">
						<div class="items_list" data-bind="foreach: tabs">
							<div class="item canSelect" data-bind="visible: typeof(view.visible) !== 'undefined' ? view.visible : true, 
									attr: {'class': 'item canSelect ' + name, 'id': 'selenium_settings_' + name}, 
									css: {'selected': $parent.currentTab() && $parent.currentTab().name === name}, 
									click: function () { $parent.changeTab(name); }">
								<span class="title">
									<span class="icon"></span>
									<span class="text" data-bind="text: title"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel data" data-bind="visible: showModulesTabs">
			<!-- ko if: currentTab() && (!currentTab().view.visible || currentTab().view.visible()) -->
			<div class="panel_content" data-bind="with: currentTab">
				<div data-bind="attr: {'class': 'middle_bar ' + name}">
					<!-- ko template: {name: view.ViewTemplate, data: view} --><!-- /ko -->
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
