.AdminPanelLayout {
	input.licensing {
		width: 410px;
	}
	
	.panels.settings .panel.navigation_panel .middle_bar {
		padding-top: 0px;
	}
	
	.panel.left_panel .items_list .item.heading {
		text-transform: uppercase;
		margin-top: 12px;
	}
	
	.panels.settings .panel.center_panel {
		width: 180px;
	}
	
	.item {
		.user-select();

		.icon {
			display: inline-block;
			height: 19px;
			margin-right: 4px;
			vertical-align: middle;
			width: 18px;

			.init-icon-font();

			&:before {
				display: inline-block;
				font-size: 20px;
				height: 100%;
				width: 100%;
			}
		}
		
		&.heading {
			background: #fcfcfc;
			color: #ccc;
			text-transform: uppercase;
		}

		&.common .icon:before {
			content: "\e639";
		}

		&.mail .icon:before,
		&.mail-accounts .icon:before {
			content: "\e638";
		}

		&.calendar .icon:before {
			content: "\e63a";
		}

		&.services .icon:before {
			content: "\e672";
		}

		&.files .icon:before {
			content: "\e656";
		}

		&.mobilesync .icon:before {
			content: "\e636";
		}

		&.outlooksync .icon:before {
			content: "\e635";
		}

		&.helpdesk .icon:before {
			content: "\e637";
		}

		&.openpgp .icon:before {
			content: "\e658";
		}
	}
	
	.accounts_list .item.account {
		padding: 11px 16px;
		
		.title {
			float: left;
			margin: 0;
		}
		.link {
			float: right;
		}
	}
}
